# Raw datasets
data/

# Python cache
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# Jupyter checkpoints
.ipynb_checkpoints/

#Phase 2 outputs
outputs/

winutils/
tmp/
NOPIStmpspark_temp/

spark/output/

logs/*

Phase_2/winutils/

Phase_4/tests/

Phase_5/node_modules/*

Phase_6/ml/